<ion-content>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="/assets/gif/Investing.gif" class="w-75 h-75" alt="...">
    </div>
    <div class="txtt">
      <!-- <h1 style="text-align: center; text-decoration: underline cornflowerblue;">Inscription</h1> -->
      <div>
        <h3 class="text-center" style="text-decoration: underline cornflowerblue;">Compte Investisseur</h3>
      </div>
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

      <div class="mt-0">
        <ion-item>
          <ion-label position="floating">Nom complet</ion-label>
          <ion-input type="text" placeholder="Nom complet" maxlength="20" minlength="5" name="nomcomplet" [(ngModel)]="investisseur.nomcomplet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Numero</ion-label>
          <ion-input type="tel" name="telephone" maxlength="11" minlength="5" [(ngModel)]="investisseur.telephone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pseudo</ion-label>
          <ion-input type="text" placeholder="Pseudo" maxlength="20" minlength="5" name="username" [(ngModel)]="investisseur.username"></ion-input>
        </ion-item>

        <ion-item>
          <input type="file" placeholder="photo" (change)="onFileSelected($event)" name="photo" required>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Adresse</ion-label>
          <ion-input type="text" placeholder="Adresse" maxlength="20" minlength="5"  name="adresse" [(ngModel)]="investisseur.adresse"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Email" maxlength="50" minlength="10"  name="email" [(ngModel)]="investisseur.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mots de passe</ion-label>
          <ion-input type="password" placeholder="Mots de passe" maxlength="30" minlength="6"  name="password" [(ngModel)]="investisseur.password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Centre d'interêt</ion-label>
          <ion-select name="idTypeProjet" [(ngModel)]="Idtypeprojets" required>
            <ion-select-option *ngFor="let type of typesProjet" [value]="type.idtypeprojets">{{ type.nomtype }}</ion-select-option>
          </ion-select>
        </ion-item>
        
      </div>
      <div class="mt-3 ion-text-center">
        <ion-button expand="block"  shape="round" type="submit" [disabled]="!registerForm.valid">S'inscrire</ion-button>
      </div>
    </form>
    <div class="mt-4 mb-4 d-flex justify-content-around">
      <div class="fs-6">déja inscris ?</div>
      <div class="insc"><a href="/connexion" class="text-decoration-none">Connexion</a></div>
    </div>
  </div>
</ion-content>