// ion-header{
//     --background-color: #7ED957;
// }
ion-toolbar{
    --background: #fff;
}

.cont{
    background: #edeff1;
    width: 100%;
    // height: 100%;
}

.circle{
   // background-color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    border: 1px solid #0000000f;
    object-fit: cover;
}
.logcv{
    height: 40px;
    width: 40px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
// .cardMere{
//     display: grid;
//     height: 455px;

// }
// .card1{
//     background: #fff;
//     width: 100%;
//     // height: 455px;
//     overflow-y: scroll;
//     border-radius: 20px;
//     //display: grid;
//     margin-top: 20px;
//     &::-webkit-scrollbar {
//         display: none;
//     }
    
// }
.cd1{
    width: 100%;
    height: 70vh;
    top: 15px;
}
.cardprojets{
    // overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
// ion-card-header.ios {
//     display: flex;
//     flex-flow: column-reverse;
// }
img.imageproj {
    width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    
}
.etatss{
    width: 100px;
    background: #7ED957;
    color: #fff;
    height: 26px;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    position: relative;
    left: 16px;
    align-self: center;
}
.nomprj{
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,0.7);
}
.descript{
    font-size: 12px;
    font-weight: 500;
}
hr {
    border: #38B6FF;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#38B6FF;
    height: 1px;
    border-radius: 5px;
}
.boutn{
    width: 100px;
    background: #7ED957;
    border-color: #7ED957;
}