<ion-header>
  <ion-toolbar class="d-flex">
    <div class="d-flex justify-content-between align-items-center ent">
      <div  routerLink="/profil"><img src="{{currentUser.photo}}" class="circle" alt="" srcset=""></div>
      <div class="">
        <H1 style="color: rgb(8, 8, 8);">Accueil</H1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="cont">
  <!-- <div class="cardMere"> -->
    <!-- <div class="card1"> -->
      <!-- debut 1er card  -->
      <ion-card class="cardprojets"   *ngFor="let projets of projets">
        <img src="{{projets.image}}" class="imageproj" alt="" srcset="">
        <div class="d-flex  align-items-center mt-1 ms-2">
          <div class="phtprojet">
            <img src="{{projets.startups.photo}}" class="logcv" alt="" srcset="">
          </div>
          <div class="ms-2 nomstartp">{{projets.startups.nomStartups}}</div>
        </div>
        <ion-card-header>
          <ion-card-subtitle class="d-flex justify-content-between align-items-center statnon">
            <div class=""><ion-icon name="folder-open-outline"></ion-icon>{{projets.nomprojets}}</div>
            <div class="etatss">{{projets.statProjets}}</div>
          </ion-card-subtitle>
          <ion-card-title class="nomprj">{{projets.objectif}}</ion-card-title>
        </ion-card-header>

        <ion-card-content class="descript">
          {{projets.description}}
          <hr class="border-primary">
          <div class="detailsfin">
            <div class="d-flex justify-content-between">
              <p>Objectifs :</p>
              <p>{{projets.budgetPrevisonnel}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>Collecté :</p>
              <p>{{projets.soldeprojet}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p>Action_restante :</p>
              <p>{{projets.action_restante}}</p>
            </div>
          </div>
          <div class="ion-text-center mt-2">
            <button type="button" [routerLink]="['/detailprojet',projets.idprojet]" class="btn btn-primary boutn">details</button>
            <!-- <button type="button" routerLink="/detailprojet/{{projets.idprojet}}" class="btn btn-primary boutn">details</button> -->
          </div>

        </ion-card-content>

      </ion-card>
    <!-- </div> -->

  <!-- </div> -->

</ion-content>