<ion-content>
  <img src="/assets/images/Chart 9.svg" alt="" srcset="">
  <!-- <canvas baseChart class="chart"
  [data]="barChartData"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
</canvas> -->
  <!-- 
<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Entretien</h6>
          <p class="nbre">10</p>
        </div>
        <div class="cardicon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Postulant</h6>
          <p class="nbre">300</p>
        </div>
        <div class="cardicon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Entretien</h6>
          <p class="nbre">10</p>
        </div>
        <div class="cardicon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Postulant</h6>
          <p class="nbre">300</p>
        </div>
        <div class="cardicon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>