<ion-header>
  <div class="d-flex justify-content-between ent">
    <div>
      <img src="{{currentUser.photo}}" class="circle" alt="" srcset="">
    </div>
    <div class="">
      <H1 class="tittttre">Dashboard</H1>
    </div>
  </div>
</ion-header>
<ion-content>
  <img src="/assets/images/Chart 9.svg" alt="" srcset="">
  <!-- <canvas baseChart class="chart"
  [data]="barChartData"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
</canvas> -->
  <!-- 
<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
<!-- total investissement -->
<div class="mt-2">
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Total investissement</h6>
        </div>
        <div class="cardicon">
          <p class="nbre">5000000</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<!-- total investissement -->
<!-- total investissement -->
<div class="mt-2">
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Total investissement</h6>
        </div>
        <div class="cardicon">
          <p class="nbre">5000000</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<!-- total investissement -->
<!-- total investissement -->
<div class="mt-2">
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Total investissement</h6>
        </div>
        <div class="cardicon">
          <p class="nbre">5000000</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<!-- total investissement -->
<!-- total investissement -->
<div class="mt-2">
  <ion-row>
    <ion-col>
      <ion-card class="desc" color="primary">
        <div class="cardbody">
          <h6>Total investissement</h6>
        </div>
        <div class="cardicon">
          <p class="nbre">5000000</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
<!-- total investissement -->



  
</ion-content>