ion-col{
    padding: 3px;
  }
  .desc{
    background: #7ED957;
    display: flex;
    // justify-content: center;
    align-items: center;
    // padding: 0 5px;
    padding: 5px;
    margin: 0;
    h6{
      color: #fff;
      margin: 5px auto;
    }
    .cardicon{
      width: 0px;
      font-size: 50px;
      // right: 15px;
      color: #cacaca;
      opacity: 0.4;
    }
  }
  .nbre{
      padding: 5px;
      margin: 5px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      font-weight: 500;
  }