<ion-header>
  <ion-toolbar>
    <div class="d-flex justify-content-between align-items-center">
      <div class="mx-3"><img src="{{currentUser.photo}}" class="circle" alt="" srcset=""></div>
      <div class=""><ion-title>Statistique</ion-title></div>
    </div>
  </ion-toolbar>
  <!-- <img src="{{currentUser.photo}}" class="circle" alt="" srcset=""> -->


</ion-header>
<ion-content>
  <!-- <img src="/assets/images/Chart 9.svg" alt="" srcset=""> -->
  <div class="oont">
    <div class="card mt-3 crdd">
  <canvas baseChart class="chart"
  [data]="barChartData"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)">
</canvas>
  </div>
  </div>
  
  
  <!-- 
<button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->

  <!-- total investissement -->
  <div class="int">
    <div class="mt-2">
      <ion-row>
        <ion-col>
          <ion-card class="desc" color="primary">
            <div class="cardbody">
              <h6>Total Collecter</h6>
            </div>
            <div class="cardicon">
              <p class="nbre">{{sommetotale}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- total investissement -->
    <!-- total investissement -->

    <div class="mt-2">
      <ion-row>
        <ion-col>
          <ion-card class="desc" color="primary">
            <div class="cardbody">
              <h6>Total Projets</h6>
            </div>
            <div class="cardicon">
              <p class="nbre">{{nbreprojets}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- total investissement -->

    <!-- total investissement -->
    <div class="mt-2">
      <ion-row>
        <ion-col>
          <ion-card class="desc" color="primary">
            <div class="cardbody">
              <h6>Don Total</h6>
            </div>
            <div class="cardicon">
              <p class="nbre">{{totaldonation}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- total investissement -->
    <!-- total investissement -->
    <div class="mt-2">
      <ion-row>
        <ion-col>
          <ion-card class="desc" color="primary">
            <div class="cardbody">
              <h6>Pret Total </h6>
            </div>
            <div class="cardicon">
              <p class="nbre">{{totalpret}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- total investissement -->
    <!-- total investissement -->
    <div class="mt-2">
      <ion-row>
        <ion-col>
          <ion-card class="desc" color="primary">
            <div class="cardbody">
              <h6>Action Total </h6>
            </div>
            <div class="cardicon">
              <p class="nbre">{{totalAction}}</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <!-- total investissement -->
  </div>




</ion-content>