ion-tab-bar{
    --background: #1C5B80;
    --border: none;
}
.container{
    width: 100%;
    height: 100%;
}
.ent{
    position: relative;
    top: 15px;
    margin: 5px;
}
.circle{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 50%;
}
.cardi {
    width: 100%;
    height: 165px;
    position: relative;
    background: black;
    border-top: 1px solid rgba(238, 237, 237, 0.4392156863);
    border-left: 1px solid rgba(238, 237, 237, 0.4392156863);
    border-radius: 10px;
    z-index: 1;
    margin-top: 20px;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
}

.bank {
    color: #ffffff;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    position: absolute;
    top: 7px;
    right: 30px;
}
.mon{
    width: 50%;
    position: absolute;
    top: -7px;
    left: 170px;
}

.chip {
    width: 74px;
    position: absolute;
    top: 51px;
    left: 0px;
}

.indicator {
    width: 40px;
    position: absolute;
    top: 30px;
    left: 59px;
}

.number {
    color: #ffffff;
    font-size: 19px;
    font-weight: 500;
    position: absolute;
    bottom: 50px;
    left: 76px;
    width: 70%;
}

.card-holder {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    bottom: 0px;
    left: 140px;
    text-transform: uppercase;
    width: 60%;
}



.logo {
    width: 70px;
    position: absolute;
    right: 210px;
    bottom: 10px;
}
/* CArd payement */
.infoinvest{
    background: #ffffff;
}
.ecrit{
    font-size: 11px;
    font-weight: 600;

}
.imgdon{
    background: #7ED957;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.donlog{
    width: 100%;
}
.drawsdoico{
    margin-right: 10px;
}
.drawsdoico{
    animation: rotation 2s linear;
}
@keyframes rotation{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(180deg);
    }
}
.drawsdoico::after{
    transform: rotate(180deg);
}
.card{
    box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
}
.colprojet{
    font-size: 15px;
    font-weight: 500;
}
.colprojet1{
    font-size: 15px;
    font-weight: 500;
    width: 150px;
}
.colnomproj{
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;

}
.colpourct{
    position: absolute;
    left: 150px;
    font-weight: 600;
}
.inv{
    height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}