<ion-header>
  <ion-toolbar class="d-flex">
    <div class="d-flex justify-content-between">
      <div class=""><ion-icon routerLink="/tabs/invest-par-projet" class="ioconback" name="arrow-back"></ion-icon></div>
      <div class=""><ion-title>les prêteurs</ion-title></div>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="always" [(ngModel)]="searhText" value="Recherche"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- total investissement -->
    <ion-card class="desc" color="primary">
      <div class="cardbody">
        <h6>Total des prets</h6>
      </div>
      <div class="cardicon">
        <p class="nbre">{{Prettotal}}</p>
      </div>
    </ion-card>
  <!-- total investissement -->
  <!-- Card jury -->
  <ion-card *ngFor="let pret of preteur| paginate:{itemsPerPage: 5, currentPage: p}
  |filter:searhText; let i = index ">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="{{pret.investisseur.photo}}" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <ion-card-header>
            <ion-card-title>{{pret.investisseur.nomcomplet}}</ion-card-title>
            <ion-card-subtitle>Montant investit:{{pret.montantInvest}}<br>
              Pourcentage :{{pret.pourcentage}}<br>Montant d'echeance:{{pret.retourinvestissement}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
  <div class="pag">
      <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précedents"
        [responsive]="responsive"></pagination-controls>
  </div>
  <!-- fin du card -->
</ion-content>