// eizuiyiuyiofiuzfyiufyuify
ion-col{
    padding: 3px;
  }
  .desc{
    background: #7ED957;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 10vh;
    justify-content: space-between;
    h6{
      color: #fff;
      margin: 5px auto;
    }
    .cardicon{
      //width: 0px;
      font-size: 20px;
      // right: 15px;
      color: #cacaca;
     // opacity: 0.4;
      background: #fff;
      border-radius: 10px;
    }
  }
  .nbre{
      padding: 5px;
      margin: 5px;
      text-align: center;
      font-size: 22px;
      color: rgb(0, 0, 0);
      font-weight: 600;
  }
// oziefhzoifzoefjozifjozie