.rrii{
    color: red;
}
a.btn {
    background: #3a6fe6;
    color: aliceblue;
    width: 48%;
    font-size: 20px;
    border-radius: 20px;
}
// ion-button{
//     background: #3a6fe6;
//     color: aliceblue;
//     width: 48%;
//     font-size: 20px;
//     border-radius: 20px;
// }


a.btn-r {
    background: #615b5b;
}