.ioconback{
    color: #000;
    font-size: 30px;
}
.detailChamp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 10px;
    margin-left: 5%;
    margin-right: 2%;
  }

  .elementDetailChamp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;  
  }

  .detail, .libelle{
    display: flex;
    justify-content: flex-start;
  }
 .libelle{
   font-weight: bold;
  }
  .phoyy{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.identi{
    font-size: 13px;
    font-weight: 600;
}
.iden1{
    font-size: 12px;
    font-weight: 500;
}
