<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-3 align-self-center">
          <img src="/assets/images/BORE.png" alt="" srcset="">
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-between align-items-center">
            <p class="nomstart">Vollaile+</p>
            <p class="delais">Il y a 1 heure</p>
          </div>
          <div class="msge">
            <p class="messges">A publié un nouveau projet de type Agriculture</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>