<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container">
    <div class="card">
      <div class="row">
        <div class="col-3 align-self-center">
          <img src="/assets/images/BORE.png" alt="" srcset="">
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-between align-items-center">
            <p class="nomstart">Vollaile+</p>
            <p class="delais">Il y a 1 heure</p>
          </div>
          <div class="msge">
            <p class="messges">A publié un nouveau projet de type Agriculture</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container d-flex justify-content-center">
    <div class="card mt-2 p-2">
      <div class="d-flex media">
        <img src="https://imgur.com/3UmlFEf.png" alt="" class="mr-3">
        <div class="media-body">
          <h6 class="mt-2 mb-0 notif">Un nouveau projet de type Agriculture vient d'être lancé, Controle facile .Nous vous
            invitons à consulter les détails de ce projet. </h6>
          <small class="text">Mar 20,2020</small>
        </div>
      </div>
    </div>
  </div>
</ion-content>