:host {

    ion-tab-bar {
        // --background: #5570c3;
        --border: 0;
        justify-content: space-between;
        padding: 5px;


        ion-icon {
            font-size: 1.6rem;
        }

    }

    ion-tab-button {
        max-width: 56px;
        max-height: 36px;
    }

    .tab-selected {
        color: #ffffff;
        background-color: #4c79ff;
        border-radius: 50px;
        max-width: 65px;
        max-height: 45px;
    }

}