<ion-tabs>

  <ion-tab-bar slot="dashbord-start">
    <ion-tab-button tab="dashbord-start">
      <ion-icon name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistique">
      <!-- <img src="/assets/images/ico2.svg" alt="" srcset=""> -->
      <ion-icon name="stats-chart-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="investstartp">
      <ion-icon name="newspaper-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="projetstartups">
      <ion-icon  name="business-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
