<ion-header>
  <ion-toolbar>
    <ion-title>Vos projets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let nproj of vostartups " >  
      <img alt="Silhouette of mountains" src="{{nproj.image}}" class="immmmg" />
    <ion-card-header>
      <ion-card-title>{{nproj.nomprojets}}</ion-card-title>
      <ion-card-subtitle>My Farming - Application de suivie et production des volaille</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{nproj.description}}
    </ion-card-content>
    <div class="mb-3  ion-text-center">
      <button type="button" [routerLink]="['/detailprojet',nproj.idprojet]" class="btn btn-primary boutn">details</button>
    </div>
  </ion-card>
</ion-content>
