<ion-header>
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <div class="mx-2"><ion-icon routerLink="/tabac/acceuil" class="ioconback" name="arrow-back"></ion-icon></div>
      <div class="mx-2"><ion-title>Faire un prêt</ion-title></div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form>
      <div class="ion-text-center">
        <img src="/assets/gif/actionn.gif" class="imaacc" alt="" srcset="">
      </div>
      <h1>{{nomprojets}}</h1>

      <div class="d-flex justify-content-between mt-3">
        <div class="Prix">
          <span>Total des prêt</span>
        </div>
        <div class="prixmtt">
          <span>{{Prettotalobtenu}}</span>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <div class="Prix">
          <span>Prêt maximun</span>
        </div>
        <div class="prixmtt">
          <span>{{pret_maximun}}</span>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <div class="Prix">
          <span>Prêt minimun</span>
        </div>
        <div class="prixmtt">
          <span>{{pret_minimun}}</span>
        </div>
      </div>

      <ion-item>
        <ion-label position="floating">Saisir le montant de votre pret</ion-label>
        <ion-input type="number" placeholder="Action" [(ngModel)]="montantInvest" name="montantInvest"></ion-input>
      </ion-item>
      <div class="mt-5 mb-5">
        <ion-button expand="block" type="submit" (click)="envoyepret()" >Acquerir</ion-button>
      </div>
      
    </form>
  </div>
</ion-content>