<ion-content>
  <div class="container">
    <div class="container">
      <div class="d-flex justify-content-center">
        <img src="/assets/gif/Account.gif" class="w-50 h-50" alt="...">
      </div>
      <div class="mt-0 text-center tit">
        Création d'une Startups
        <hr class="border-primary">
      </div>
    </div>
    <!-- Stepper etapes par etapes -->

    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        
        <form class="form">
          <ng-template matStepLabel>Informations de l'utilisateurs</ng-template>
          <ng-template matStepContent class="cont">
            <div class="mt-1 contentinput">
              <ion-item>
                <ion-input type="text" placeholder="Nom complet"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="tel" maxlength="8" placeholder="Numero de Telephone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Pseudo"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Adresse"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="password" placeholder="Mots de passe"></ion-input>
              </ion-item>
            </div>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Suivants</button>
            </div>
          </ng-template>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form>
          <ng-template matStepLabel>Informations de la Startups</ng-template>
          <ng-template matStepContent>
            <ion-item>
              <ion-input type="text" placeholder="Nom de la Startups"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="tel" maxlength="8" placeholder="Contact"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Stade developpement"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Numero d'identification"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email" placeholder="description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Proprietaire"></ion-input>
            </ion-item>
            <div class="d-flex justify-content-between">
              <div class="">
                <button mat-button matStepperPrevious>Precedents</button>
              </div>
              <div class="">
                <button mat-raised-button color="primary" matStepperNext>Suivants</button>
              </div>
            </div>
          </ng-template>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form>
          <ng-template matStepLabel>Fill out your address</ng-template>
          <ng-template matStepContent>
            <ion-item>
              <ion-input type="text" placeholder="Forme juridique"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="tel" maxlength="8" placeholder="Chiffre d'affaire"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Localisation"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Pays"></ion-input>
            </ion-item>
            <ion-item>
              <input type="file" placeholder="photo">
            </ion-item>
            <div class="d-flex justify-content-between">
              <div class="">
                <button mat-button matStepperPrevious>Precedents</button>
              </div>
              <div class="">
                <button mat-raised-button color="primary" matStepperNext>Suivants</button>
              </div>
            </div>
          </ng-template>

        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fin</ng-template>
        <p class="mt-5">Pour la validation de votre espaces toutes les cases doivent etres renseigner</p>
        <div class="d-flex justify-content-between">
          <div class="">
            <button mat-button matStepperPrevious>Precedents</button>
          </div>
        </div>
        <ion-button expand="block" routerLink="/validation" style="margin-top: 20px;">S'inscrire</ion-button>
      </mat-step>
    </mat-stepper>

    <!-- fin du stepper etapes par etapes -->
  </div>
</ion-content>