.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}
hr {
    border: #38B6FF;
    clear: both;
    display: block;
    width: 100%;
    background-color: #38B6FF;
    height: 1px;
    border-radius: 5px;
}

.tit {
    font-size: 20px;
    font-weight: 500;
}

// .next{
//     background-color: #38B6FF !important;
// }



a.btn {
    background: #3a6fe6;
}
a.btn-r{
    background: #615b5b;
}