<ion-content>
  <div class="container">
    <div class="container">
      <div class="d-flex justify-content-center">
        <img src="/assets/gif/Account.gif" class="w-50 h-50" alt="...">
      </div>
      <div class="mt-0 text-center tit">
        Création d'une Startups
        <hr class="border-primary">
      </div>
    </div>
    <!-- formulaire djadje -->
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div [hidden]="!suivant">
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Nom complet" name="nomcomplet"
              [(ngModel)]="startups.nomcomplet"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-input type="tel" maxlength="8" placeholder="Numero de Telephone" name="telephone" [(ngModel)]="startups.telephone"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-input type="text" placeholder="Pseudo" name="username" [(ngModel)]="startups.username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Adresse" name="adresse" [(ngModel)]="startups.adresse"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="startups.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Mots de passe" name="password"
              [(ngModel)]="startups.password"></ion-input>
          </ion-item>
        </ion-list>
        <div class="d-flex justify-content-center mt-3 btnn">
          <a class="btn" (click)="nextStep()">Suivant</a>
        </div>
      </div>
  
      <!-- 2eme etapes du formulaire -->
  
      <div *ngIf="step === 2" [hidden]="suivant">
        <ion-list>
  
          <ion-item>
            <ion-input type="text" placeholder="Nom de la Startups" name="nomStartups"
              [(ngModel)]="startups.nomStartups"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="tel" maxlength="8" placeholder="Contact" name="contact"
              [(ngModel)]="startups.contact"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Stade developpement" name="emailStartups"
              [(ngModel)]="startups.emailStartups"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="secteurActivite" name="secteurActivite"
              [(ngModel)]="startups.secteurActivite"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="description" name="descriptionStartups"
              [(ngModel)]="startups.descriptionStartups"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Proprietaire" name="proprietaire"
              [(ngModel)]="startups.proprietaire"></ion-input>
          </ion-item>
        </ion-list>
        <div class="d-flex justify-content-around mt-3 btnn">
          <a class="btn btn-r" (click)="backStep()">retour</a>
          <a class="btn" (click)="nextStep()">Suivant</a>
        </div>
      </div>
  
  
      <div  *ngIf="step === 3" [hidden]="suivant">
        <ion-list>
          <ion-item>
            <ion-input type="Date" placeholder="Date Creation" name="dateCreation"
              [(ngModel)]="startups.dateCreation"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Forme juridique" name="formeJuridique"
              [(ngModel)]="startups.formeJuridique"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="tel" maxlength="8" placeholder="Chiffre d'affaire" name="chiffreAffaire"
              [(ngModel)]="startups.chiffreAffaire"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Localisation" name="Localisation"
              [(ngModel)]="startups.localisation"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Pays" name="pays" [(ngModel)]="startups.pays"></ion-input>
          </ion-item>
          <ion-item>
            <input type="file" placeholder="photo" (change)="onFileSelected($event)" name="photo">
          </ion-item>
        </ion-list>
        <div class="d-flex justify-content-around mt-3 btnn">
          <a class="btn btn-r" (click)="backStep()">retour</a>
          <ion-button expand="block" type="submit">S'inscrire</ion-button>
          
        </div>
  
      </div>
    </form>
    <!-- fin djadje -->


  </div>
</ion-content>