<ion-header>
  <div class="d-flex justify-content-between ent">
    <div routerLink="/profil-startups">
      <img src="{{currentUser.photo}}" class="circle" alt="" srcset="">
    </div>
    <div class="">
      <H1 class="tittttre">Dashboard</H1>
    </div>
  </div>
</ion-header>

<ion-content class="cont">
  <!-- <ion-content class="cont" style="overflow: hidden;"> -->

  <div class="contti">
    <div class="bougee">
      <div class="principale">

        <ion-slides [options]="options">

          <ion-slide class="slidee">
            <ion-card class="cardsld">
              <ion-card-header>
                <ion-card-title class="tcll">Total Collecter</ion-card-title>
                <ion-card-subtitle class="montan">{{sommetotale}} XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Total Projets</div>
                <div class="w-50 projtt">{{nbreprojets}}</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="cardsldbleu">
              <ion-card-header>
                <ion-card-title class="tcll">Action Vendu</ion-card-title>
                <ion-card-subtitle class="montan">3 000 000 XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Nombre Total</div>
                <div class="w-50 projtt">320</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="cardsld">
              <ion-card-header>
                <ion-card-title class="tcll">Total Pret</ion-card-title>
                <ion-card-subtitle class="montan">8 000 000 XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Nombre de prêtteur</div>
                <div class="w-50 projtt">320</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
    </div>

    <!-- fin du Carouselle  -->
    <div class="containu">
      <div class="lespro">

        <div class="titt">
          <span>Vos projets</span>
        </div>
        <!-- debut -->
        <div class="infoprojets">

          <!-- huhihkhkjhckjdshksjhdkjchk -->
          <div class="d-flex proj" *ngFor="let nproj of vostartups " >

            <div class="col-3">
              <div class="imgg">
                <img class="w-100 h-100 img-style" src="{{nproj.image}}" alt="" srcset="">
              </div>
            </div>
            <div class="col-8 descprooo">
              <div class="d-flex justify-content-between connnnntttt">
                <div class="nomproj inf-item"><span class="entete">{{nproj.nomprojets}}</span></div>
                <div class="typnom inf-item"><span class="messpans">{{nproj.soldeprojet}}</span></div>
              </div>
              <div class="d-flex justify-content-between connnnntttt">
                <div class="inf-item1"><span class="entete">{{nproj.nomprojets}}</span></div>
                <div class="inf-item1"><span class="messpans">{{nproj.dateLancement | date: 'dd/MM/yyyy'}}</span></div>
              </div>
            </div>

          </div>
          <!-- fin des projets -->

        </div>
      </div>
    </div>


    <!-- les 2 card -->

    <div class="cardtop">
      <div class="">
        <ion-card class="card2" (click)="openModal()">
          <ion-card-header class="ion-text-center ">
            <ion-icon class="mesicons" name="add-circle-outline">
            </ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h6 class="ion-text-center">Lancer Collecte</h6>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!-- fin des 2 card -->
    <!-- shuizhdiuzhdu -->
  </div>
</ion-content>