<!-- <ion-header>
  <div class="d-flex justify-content-between ent">
    <div>
      <img src="{{currentUser.photo}}" class="circle" alt="" srcset="">
    </div>
    <div class="">
      <H1 class="tittttre">Dashboard</H1>
    </div>
  </div>
</ion-header> -->
<ion-header>
  <div class="d-flex justify-content-between ent">
    <div routerLink="/profil-startups">
      <img src="{{currentUser.photo}}" class="circle" alt="" srcset="">
    </div>
    <div class="">
      <H1 class="tittttre">Dashboard</H1>
    </div>
  </div>
</ion-header>
<ion-content class="cont" style="overflow: hidden;">

  <div class="contti">
    <div class="bougee">
      <div class="principale">

        <ion-slides [options]="options">

          <ion-slide class="slidee">
            <ion-card class="cardsld">
              <ion-card-header>
                <ion-card-title class="tcll">Total Collecter</ion-card-title>
                <ion-card-subtitle class="montan">{{sommetotale}} XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Total Projets</div>
                <div class="w-50 projtt">{{nbreprojets}}</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="cardsldbleu">
              <ion-card-header>
                <ion-card-title class="tcll">Action Vendu</ion-card-title>
                <ion-card-subtitle class="montan">3 000 000 XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Nombre Total</div>
                <div class="w-50 projtt">320</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="cardsld">
              <ion-card-header>
                <ion-card-title class="tcll">Total Pret</ion-card-title>
                <ion-card-subtitle class="montan">8 000 000 XOF</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content class="projcaerd">
                <div class="w-50 contcard">Nombre de prêtteur</div>
                <div class="w-50 projtt">320</div>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>
      <!-- fin du Carouselle  -->
      <div class="containu">
        <div class="titt">
          <span>Vos projets</span>
        </div>
        <!-- debut -->
        <div class="infoprojets">
          <div class="d-flex proj">
            <div class="row">
              <div class="col-3 col-md-3">
                <div class="phtprojets">
                  <div class="imgg">
                    <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                  </div>
                </div>
              </div>
              <div class="col-9 col-md-9">
                <div class="">
                  <div class="infprojets">
                    <div class="row">
                      <div class="col-6">
                        <div class="nomproj inf-item"><span class="entete">MyFarming</span></div>
                      </div>
                      <div class="col-6">
                        <div class="typnom inf-item"><span class="messpans">3 000 000</span></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="dateproj inf-itemt">
                          <span style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">Agriculture</span>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="dateproj inf-itemt"><span
                            style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">10-01-2022</span></div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- fin -->
          <!-- huhihkhkjhckjdshksjhdkjchk -->
          <div class="d-flex proj">
            <div class="row">
              <div class="col-3 col-md-3">
                <div class="phtprojets">
                  <div class="imgg">
                    <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                  </div>
                </div>
              </div>
              <div class="col-9 col-md-9">
                <div class="infprojets">
                  <div class="row">
                    <div class="col-6">
                      <div class="nomproj inf-item"><span class="entete">MyFarming</span></div>
                    </div>
                    <div class="col-6">
                      <div class="typnom inf-item"><span class="messpans">3 000 000</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="dateproj inf-itemt">
                        <span style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">Agriculture1</span>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="dateproj inf-itemt"><span
                          style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">10-01-2022</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- huhihkhkjhckjdshksjhdkjchk -->
          <!-- jhckjhvciudhciu -->
          <div class="d-flex proj">
            <div class="row">
              <div class="col-3 col-md-3">
                <div class="phtprojets">
                  <div class="imgg">
                    <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                  </div>
                </div>
              </div>
              <div class="col-9 col-md-9">
                <div class="infprojets">
                  <div class="row">
                    <div class="col-6">
                      <div class="nomproj inf-item"><span class="entete">MyFarming</span></div>
                    </div>
                    <div class="col-6">
                      <div class="typnom inf-item"><span class="messpans">3 000 000</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="dateproj inf-itemt">
                        <span style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">Agriculture1</span>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="dateproj inf-itemt"><span
                          style="font-size: 1em; margin-top:5% !important; margin-left: 14%;">10-01-2022</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- hjhcgcgiuevieuvhc -->

          <!-- fin des projets -->
          <div class="cardtop">
            <ion-card class="card1">
              <ion-card-header>
                <ion-icon class=" mesicons" name="people-outline"></ion-icon>
              </ion-card-header>
              <h6 class="ion-text-center">Equipes</h6>
              <ion-card-content>
              </ion-card-content>
            </ion-card>
            <ion-card class="card2" id="open-modal">
              <ion-card-header>
                <ion-icon class="mesicons" name="add-circle-outline"></ion-icon>
              </ion-card-header>
              <style>
                .mesicons {
                  font-size: 40px;
                  margin-left: auto;
                  margin-right: auto;
                  color: white;
                }
                
              </style>
              <ion-card-content>
                <h6 class="ion-text-center" style=" font-weight: 500;">Lancer Collecte</h6>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
    <!-- shuizhdiuzhdu -->
  </div>
</ion-content>



<!-- Mmmmmmmmmmmmooooooooooooooodddddddddddddddaaaaaaaaaaaaaallllllllllllllllllll -->

<ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement"  >
  <ng-template>
    <ion-header>
      <ion-toolbar color="white">
        <ion-title>Creation d'un projet</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Ferme</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content  >
      <!-- debut du formulaire pour ajouter un projets -->
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div [hidden]="!suivant">
          <ion-list>

            <ion-item>
              <ion-input type="text" placeholder="Nom du projets" name="nomprojets"
                [(ngModel)]="projets.nomprojets"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="text" placeholder="Objectifs du projets" name="objectif"
                [(ngModel)]="projets.objectif"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="Budget Previsionnel" name="budgetPrevisonnel"
                [(ngModel)]="projets.budgetPrevisonnel"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="pret_maximun" name="pret_maximun"
                [(ngModel)]="projets.pret_maximun"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="Pourcentage sur le pret" name="pourcentage"
                [(ngModel)]="projets.pourcentage"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="objectifpret sur le pret" name="objectifpret"
                [(ngModel)]="projets.objectifpret"></ion-input>
            </ion-item>

            <ion-item>
              <ion-textarea rows="5" type="text" placeholder="Description du projets" name="description"
                [(ngModel)]="projets.description"></ion-textarea>
            </ion-item>


            <div class="d-flex justify-content-center mt-3 btnn">
              <a class="btn" (click)="nextStep()">Suivant</a>
            </div>
          </ion-list>
        </div>

        <!-- 2eme etapes du formulaire -->


        <div *ngIf="step === 2" [hidden]="suivant">
          <ion-list>
            <ion-item>
              <ion-input type="number" placeholder="minimun_donation" name="minimun_donation"
                [(ngModel)]="projets.minimun_donation"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="pret_minimun" name="pret_minimun"
                [(ngModel)]="projets.pret_minimun"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="nbretotal_action" name="nbretotal_action"
                [(ngModel)]="projets.nbretotal_action"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="duree du Projet" name="dureeProjet"
                [(ngModel)]="projets.dureeProjet"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="prix_action" name="prix_action"
                [(ngModel)]="projets.prix_action"></ion-input>
            </ion-item>
            <ion-item>
              <ion-select name="idTypeProjet" placeholder="Type de projets" [(ngModel)]="Idtypeprojets" required>
                <ion-select-option *ngFor="let type of typesProjet" [value]="type.idtypeprojets">{{ type.nomtype
                  }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <input type="file" placeholder="photo" (change)="onFileSelected($event)" name="photo">
            </ion-item>
          </ion-list>
          <div class="d-flex justify-content-around mt-3 btnn">
            <a class="btn btn-r" (click)="backStep()">retour</a>
            <ion-button expand="block" type="submit">Creer la Collecte</ion-button>

          </div>

        </div>
      </form>
      <!-- fin du modal pour ajouter un projets -->
    </ion-content>
  </ng-template>
</ion-modal>

<!-- ffffffffffiiiiiiiiiiiiiinnnnnnnnn duuuuuuuuuu mmmmmmooooddddddddaaaaaaalllllllllll -->