<ion-content class="cont">
  <div class="d-flex justify-content-between align-items-center ent">
    <div class="circle"></div>
    <div class="">
      <H1 style="color: #fff;">Dashboard</H1>
    </div>
  </div>
  <div class="contti">
    <div class="principale">

      <ion-slides [options]="options">

        <ion-slide class="slidee">
          <ion-card class="cardsld">
            <ion-card-header>
              <ion-card-title class="tcll">Total Collecter</ion-card-title>
              <ion-card-subtitle class="montan">12 000 000 XOF</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="projcaerd">
              <div class="w-50 contcard">Total Projets</div>
              <div class="w-50 projtt">4</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="cardsldbleu">
            <ion-card-header>
              <ion-card-title class="tcll">Total Collecter</ion-card-title>
              <ion-card-subtitle class="montan">12 000 000 XOF</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="projcaerd">
              <div class="w-50 contcard">Total Projets</div>
              <div class="w-50 projtt">4</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="cardsld">
            <ion-card-header>
              <ion-card-title class="tcll">Total Collecter</ion-card-title>
              <ion-card-subtitle class="montan">12 000 000 XOF</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="projcaerd">
              <div class="w-50 contcard">Total Projets</div>
              <div class="w-50 projtt">4</div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <!-- fin du Carouselle  -->
    <div class="containu">
      <div class="titt">
       Vos projets 
      </div>
      <!-- debut -->
      <div class="infoprojets">
        <div class="d-flex proj">
          <div class="row">
            <div class="col-3 col-md-3">
              <div class="phtprojets">
                <div class="imgg">
                  <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-9">
              <div class="infprojets">
                <div class="row">
                  <div class="col-6">
                    <div class="nomproj inf-item">MyFarming</div>
                  </div>
                  <div class="col-6">
                    <div class="typnom inf-item">3 000 000</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="montproj inf-itemt"><ion-icon name="folder-open-outline"></ion-icon> Agriculture</div>
                  </div>
                  <div class="col-6">
                    <div class="dateproj inf-itemt">10-01-2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- fin -->
        <div class="d-flex proj">
          <div class="row">
            <div class="col-3 col-md-3">
              <div class="phtprojets">
                <div class="imgg">
                  <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-9">
              <div class="infprojets">
                <div class="row">
                  <div class="col-6">
                    <div class="nomproj inf-item">MyFarming</div>
                  </div>
                  <div class="col-6">
                    <div class="typnom inf-item">3 000 000</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="montproj inf-itemt"><ion-icon name="folder-open-outline"></ion-icon> Agriculture</div>
                  </div>
                  <div class="col-6">
                    <div class="dateproj inf-itemt">10-01-2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex proj">
          <div class="row">
            <div class="col-3 col-md-3">
              <div class="phtprojets">
                <div class="imgg">
                  <img class="w-100 h-100 img-style" src="/assets/gif/oooo.jpg" alt="" srcset="">
                </div>
              </div>
            </div>
            <div class="col-9 col-md-9">
              <div class="infprojets">
                <div class="row">
                  <div class="col-6">
                    <div class="nomproj inf-item">MyFarming</div>
                  </div>
                  <div class="col-6">
                    <div class="typnom inf-item">3 000 000</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="montproj inf-itemt"><ion-icon name="folder-open-outline"></ion-icon> Agriculture</div>
                  </div>
                  <div class="col-6">
                    <div class="dateproj inf-itemt">10-01-2022</div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- fin des projets -->
        <div class="cardtop">
          <ion-card color="primary" class="card1">
            <ion-card-header>
              <ion-icon class="" name="people-outline"></ion-icon>
            </ion-card-header>
            <p class="text-center">Equipes</p>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
          <ion-card color="success" class="card2">
            <ion-card-header>
              <ion-icon  name="add-circle-outline"></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <p class="text-center">Ajouter projets</p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>