.img-thumbnail {
    padding: .25rem;
    background-color: var(--bs-body-bg);
     border: none;
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
}
.radimage{
    width: 200px;
    padding: 15px;
    height: auto;
    border-radius: 30px;
}
.csoui{
    font-size: 12px;
    width: 132px;
    font-weight: 600;
    position: relative;
    right: 25px;
}
.cstqrtups{
    font-size: 12px;   
}