.ioconback{
    color: #000;
    font-size: 30px;
}
ion-tab-bar{
    --background: #1C5B80;
    --border: none;
}
// .ent{
//     position: relative;
//     top: 15px;
//     margin: 5px;
// }
.circle{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.logcv{
    height: 40px;
    width: 40px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
// .cardMere{
//     display: grid;
//     height: 455px;

// }
.card1{
    background: #fff;
    width: 100%;
    // height: 455px;
    overflow-y: scroll;
    border-radius: 20px;
    //display: grid;
    margin-top: 20px;
    &::-webkit-scrollbar {
        display: none;
    }
    
}
.cd1{
    width: 100%;
    height: 70vh;
    top: 15px;
}
.cardprojets{
    // overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
// ion-card-header.ios {
//     display: flex;
//     flex-flow: column-reverse;
// }
img.imageproj {
    width: 100%;
    height: 130px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.etatss{
    width: 100px;
    background: #7ED957;
    color: #fff;
    height: 26px;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    position: relative;
    left: 16px;
    align-self: center;
}
.nomprj{
    font-size: 14px;
    font-weight: 700;
    color: rgba(0,0,0,0.7);
}
.descript{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px !important;
}
hr {
    border: #38B6FF;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#38B6FF;
    height: 1px;
    border-radius: 5px;
}
ion-button {
    --background: #7ED957;
    --background-hover: #38B6FF;
  
    --color: #FFFFFF;
  
    --border-radius: 15px;
  
    --box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    // --padding-top: 10px;
    // --padding-bottom: 10px;
}
p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.detailsfin {
    line-height: 30px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.card{
    border-radius: 15px;
    box-shadow: inset 0px 0px 3px 0px;
}
.card-content-md {
    padding-bottom: 0;
}