<ion-header>
  <ion-toolbar class="d-flex">
    <ion-icon routerLink="/tabac/acceuil" class="ioconback" name="arrow-back"></ion-icon>
    <ion-title>Details du projets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="{{image}}" class="imageproj" alt="" srcset="">
    <div class="d-flex  align-items-center mt-1 ms-2">
      <div class="phtprojet">
        <img src="{{image}}" class="logcv" alt="" srcset="">
      </div>
      <div class="ms-2 nomstartp">{{nomStartups}} </div>
    </div>
    <ion-card-header>
      <ion-card-subtitle class="d-flex" style="margin-bottom: 5%;">
        <div class="" style="display: flex;"><ion-icon name="folder-open-outline" style="font-size: 2em;"></ion-icon>
          &nbsp; <span style="margin-top: 4%;">Agriculture</span> </div>
        <div class="etats">
          <div style="margin-top: 5% !important;"><span>{{statProjets}}</span> </div>
        </div>
      </ion-card-subtitle>
      <ion-card-title class="nomprj">{{nomprojets}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="descript">
      {{description}}
      <!-- lieu pour les collapse -->
      <hr class="border-primary">
    </ion-card-content>
    <!-- debut part  -->
    <div class="card w-100 mb-2">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="">Description</div>
        <ion-icon class="drawsdoico" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
          name="chevron-down-outline"></ion-icon>
      </div>

      <!-- debut de la collapse -->
      <div class="collapse mesdetails" id="collapseExample1">
        <div class="detailsfin">
          <div class="d-flex justify-content-between">
            <p class="text-muted">Date de début :</p>
            <p>01/01/2023</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Publication :</p>
            <p>01/08/2022</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Budget:</p>
            <p>{{budgetPrevisonnel}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Total collecté :</p>
            <p>{{soldeprojet}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Durée du projet :</p>
            <p>{{dureeProjet}}</p>
          </div>
          <!-- <hr class="border-primary"> -->
        </div>
      </div>
      <!-- fin de la collapse -->
    </div>
    <!-- fin du card -->
    <!-- debut part  -->
    <div class="card w-100 mb-2">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="">Information Action</div>
        <ion-icon class="drawsdoico" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
          name="chevron-down-outline"></ion-icon>
      </div>

      <!-- debut de la collapse -->
      <div class="collapse mesdetails" id="collapseExample2">
        <div class="detailsfin">
          <div class="d-flex justify-content-between">
            <p class="text-muted">Prix d'une action :</p>
            <p>{{prix_action}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Total actions:</p>
            <p>{{nbretotal_action}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Action disponible:</p>
            <p>{{action_restante}}</p>
          </div>
          <!-- <hr class="border-primary"> -->
        </div>
      </div>
      <!-- fin de la collapse -->
    </div>
    <!-- fin du card  -->
    <!-- debut part  -->
    <div class="card w-100 mb-2">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="">Information sur le Prêt</div>
        <ion-icon class="drawsdoico" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
          name="chevron-down-outline"></ion-icon>
      </div>

      <!-- debut de la collapse -->
      <div class="collapse mesdetails" id="collapseExample3">
        <div class="detailsfin">
          <div class="d-flex justify-content-between">
            <p class="text-muted">Pourcentage :</p>
            <p>{{pourcentage}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Prêt minimun :</p>
            <p>{{pret_minimun}}</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="text-muted">Prêt maximun:</p>
            <p>{{pret_maximun}}</p>
          </div>
          <!-- <hr class="border-primary"> -->
        </div>
      </div>

      <!-- fin de la collapse -->
    </div>
    <div class="mt-5 mb-5 ion-text-center">
      <!-- <button type="button" routerLink="/" class="btn btn-primary boutn">Investir</button> -->
      <!-- <button type="button" [routerLink]="['/detailprojet',projets.idprojet]" class="btn btn-primary boutn">details</button> -->
      <ion-button expand="block" class="boutn" id="open-modal">Investir</ion-button>
    </div>
    <!-- fin du card  -->
  </div>
</ion-content>
<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top text-center">
        <ion-label>Quel type d'investissement souhaitez vous faire ?</ion-label>
      </div>
      <div class="mt-5 typeinvest"> [routerLink]="['/detailprojet',projets.idprojet]"
        <div class="mt-3 fdon"><ion-button expand="block" class="boutn" [routerLink]="['/paiement-don',idprojet]"
            (click)="modal.dismiss()">Faire un don</ion-button></div>
        <div class="mt-3 fdon"><ion-button expand="block" class="boutn" [routerLink]="['/paiementpret',idprojet]"
            (click)="modal.dismiss()">Faire un Prêt</ion-button></div>
        <div class="mt-3 fdon"><ion-button expand="block" class="boutn" [routerLink]="['/paiement-action/',currentUser.id,idprojet]"
            (click)="modal.dismiss()">Acquérir des Actions</ion-button></div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>