<ion-content>
  <div class="container">
    <div class="d-flex justify-content-center mt-1">
      <ion-img src="/assets/gif/startupss.gif" class="w-100 h-100" alt=""></ion-img>
    </div>
    <div class="mt-0">
      <h1 style="text-align: center;">Espace Startups</h1>
      <hr class="border-primary">
    </div>
    <form>
      <div class="inputtype mt-0">
        <ion-item class="item-has-focus">
          <ion-input type="email" placeholder="Pseudo"></ion-input>
        </ion-item>
        <ion-item class="item-has-focus">
          <ion-input type="password" placeholder="Mots de passe"></ion-input>
        </ion-item>
      </div>
      <div class="mt-2 me-3 mdepss">
        <a href="" class="text-decoration-none">Mots de passe oublié ?</a>
      </div>
      <ion-button expand="block" type="submit" style="margin-top: 20px;" routerLink="/dashbord-start">S'authentifier</ion-button>
    </form>
    <div class="mt-3 foot">
        <div class="vnpc">Vous n'avez pas de compte ?</div>
        <div class="insc"><a href="inscriptstartups" class="text-decoration-none">inscription</a></div>
    </div>
  </div>
</ion-content>
