ion-item {
    --highlight-height: 1px;
    --highlight-color-focused: #38B6FF;
  }
ion-button {
    --background: #7ED957;
    --background-hover: #38B6FF;
  
    --color: #FFFFFF;
  
    --border-radius: 15px;
  
    --box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    // --padding-top: 10px;
    // --padding-bottom: 10px;
}
.mdepss{
    // margin-top: 20px;
    text-align: end;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;

}
.foot{
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    // margin-top: 30px;

}
hr {
    border: #38B6FF;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#38B6FF;
    height: 1px;
    border-radius: 5px;
}
.vnpc{
    font-size: 12px;
}