<ion-content>
  <div class="container">
    <div class="d-flex justify-content-center mt-1">
      <ion-img src="/assets/gif/Tablet login.gif" class="w-100 h-100" alt=""></ion-img>
    </div>
    <div class="mt-1">
      <h1 style="text-align: center;">Connexion</h1>
      <hr class="border-primary">
    </div>
    <form>
      <div class="inputtype">
        <ion-item class="item-has-focus">
          <ion-icon name="at-outline" slot="start" size="large"></ion-icon>
          <ion-input type="email" placeholder="Email"></ion-input>

        </ion-item>
        <ion-item class="item-has-focus">
          <ion-icon name="lock-closed-outline" slot="start" size="large"></ion-icon>
          <ion-input type="password" placeholder="Mots de passe"></ion-input>
        </ion-item>
      </div>
      <div class="mt-3 me-3 mdepss">
        <a href="" class="text-decoration-none">Mots de passe oublié ?</a>
      </div>
      <ion-button expand="block"  routerLink="/tabac/acceuil" style="margin-top: 20px;">S'authentifier</ion-button>
    </form>
    <div class="mt-4 foot">
        <div class="vnpc">Vous n'avez pas de compte ?</div>
        <div class="insc"><a href="inscription" class="text-decoration-none">inscription</a></div>
    </div>
  </div>
</ion-content>