<ion-content>
  <div class="imagelogin">
    <ion-img src="/assets/gif/Tablet login.gif" alt=""></ion-img>
  </div>
  <div class="container">
    <div class="txtt">
      <h1 style="text-align: center; text-decoration: underline cornflowerblue;">Connexion</h1>
    </div>
    <form>
    <div class="inputtype">
      <ion-item class="item-has-focus">
        <ion-icon name="at-outline" slot="start" size="large"></ion-icon>
        <ion-input type="email" placeholder="Email"></ion-input>

      </ion-item>
      <ion-item class="item-has-focus">
        <ion-icon name="lock-closed-outline" slot="start" size="large"></ion-icon>
        <ion-input type="password" placeholder="Mots de passe"></ion-input>
      </ion-item>
    </div>
    <div class="mdepss">
      <a href="">Mots de passe oublié ?</a>
    </div>
    <ion-button expand="block" type="submit" style="margin-top: 20px;">S'authentifier</ion-button>
 </form> 
</div>
<div class="foot">
  <div class="vnpc">Vous n’avez pas de compte ?</div>
  <div class="insc"><a href="inscription">inscription</a></div>
</div>
</ion-content>