<ion-content>
  <div class="container">
      <div class="mt-3 ion-text-center">
        <img src="/assets/gif/logo.svg" alt="" srcset="">
      </div>
      <div class="mt-0">
        <div class="ion-text-center mb-3 titre">Bienvenue</div>
      </div>
      <div class="">
        <p class="ion-text-center">Sur votre plateforme de mise en relation entre startups et investisseurs avec un système de financement
          participatif pour soutenir le lancement de petits projets.</p>
      </div>
      <!-- <a href="https://sandbox-me.fedapay.com/boostartups">faire un don </a> -->
      <div class="">
        <ion-button expand="block" type="submit" style="margin-top: 20px;" routerLink="/typecompte">Commencer</ion-button>
      </div>
  </div>
</ion-content>