<ion-header>
  <ion-toolbar>
    <ion-title>Toolbar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card jury -->
  <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Ibrahim Keita</ion-card-title>
            <ion-card-subtitle>Status: Jury<br>Postulant jugé: 5</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-button fill="clear" [routerLink]="['/jury-details']">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fin du card -->
   <!-- Card jury -->
   <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Ibrahim Keita</ion-card-title>
            <ion-card-subtitle>Status: Jury<br>Postulant jugé: 5</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-button fill="clear" [routerLink]="['/jury-details']">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fin du card -->
   <!-- Card jury -->
   <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Ibrahim Keita</ion-card-title>
            <ion-card-subtitle>Status: Jury<br>Postulant jugé: 5</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-button fill="clear" [routerLink]="['/jury-details']">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fin du card -->
   <!-- Card jury -->
   <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Ibrahim Keita</ion-card-title>
            <ion-card-subtitle>Status: Jury<br>Postulant jugé: 5</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-button fill="clear" [routerLink]="['/jury-details']">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fin du card -->
   <!-- Card jury -->
   <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>Ibrahim Keita</ion-card-title>
            <ion-card-subtitle>Status: Jury<br>Postulant jugé: 5</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-button fill="clear" [routerLink]="['/jury-details']">
            <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- fin du card -->

</ion-content>
