.jurydetail{
    margin: 2px 0;
    padding: 0 20px;
}
ion-content{
    --background: #F2F7FA; 
}
ion-title{
    color: #000;
}
ion-card{
    border-left: solid #7ED957;
    border-right: solid #7ED957;

};
ion-searchbar{
    border-radius: 10px;
}

ion-card-header {
    padding: 5px 16px;
  }
ion-card-title{
    font-size: 18px;
}
ion-avatar{
    max-width: 3rem;
    height: 3rem;
}
ion-grid{
    --ion-grid-padding:2px;
    --ion-grid-column-padding:1px;
}
.evaluation{
    --background: #845EC2;
    color: #F2F7FA;
    width: 100%;
    height: 25px;
}
ion-col ion-button{
    margin: -15px;
}